input[type="checkbox"]:hover,
button:hover,
label:hover,
.toggle-btn:hover,
.tooltip-call:hover,
._icon-pen:hover {
    cursor: pointer;
}
.header__search_hover:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.header__search_active {
    background-color: rgb(255, 255, 255);
}

.search__input:focus-visible {
    outline: 0;
    /*background-color: rgba(255, 255, 255, 0.9);*/
}

.search__input:focus {
    color: black;
}

._icon-search:hover:before {
    cursor: pointer;
    opacity: 1;
}

.search__icon_active:before {
    color: gray;
}

.basket-section__hidden {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:active {
    color: #F55123;
}

.order-details__addressee__input:focus {
    outline: none;
}

.order-details__addressee__input:focus ~ .floating-label {
    top: -8px;
}

.order-details__addressee__input:not(:placeholder-shown) ~ .floating-label {
    top: -8px;
}

.accordion_opened .arrow::before {
    transform: rotate(-45deg);
}

.accordion_opened .arrow::after {
    transform: rotate(45deg);
}

.arrow::before,
.arrow::after {
    position: relative;
    content: '';
    display: block;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
    width: 10px;
    height: 1px;
    background: #A0A0A4;
    transition: 0.3s ease-in-out;
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    left: 6px;
    top: -1px;
    transform: rotate(-45deg);
}

.modal-window__delivery-options > div:hover {
    border: 2px solid #CB11AB;
    cursor: pointer;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked ~ label,
[type="radio"]:not(:checked) ~ label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked ~ label:after,
[type="radio"]:not(:checked) ~ label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) ~ label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked ~ label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:not(:checked) ~ label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked ~ label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #CB11AB;
}

